<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>随心笔记后台管理</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/bootstrap-maizi.css"/>
</head>
<body>
<!--导航-->
<nav class="navbar navbar-default">
    <div class="container">
        <!--小屏幕导航按钮和logo-->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.ejs" class="navbar-brand">随心笔记后台管理</a>
        </div>
        <!--小屏幕导航按钮和logo-->
        <!--导航-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;后台首页</a></li>
                <li><a href="/admin/user_list？page=1"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;用户管理</a></li>
                <li><a href="/admin/catagory?page=1"><span class="glyphicon glyphicon-category"></span>&nbsp;&nbsp;分类管理</a></li>
                <li class="active"><a href="/admin/admin?page=1"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;内容管理</a></li>
                <!--<li><a href="tag.html"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;标签管理</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%=session.loginUser.username%>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a href="index.ejs"><span class="glyphicon glyphicon-screenshot"></span>&nbsp;&nbsp;前台首页</a></li>
                        <li><a href="index.ejs"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;个人主页</a></li>
                        <li><a href="index.ejs"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;个人设置</a></li>
                        <li><a href="index.ejs"><span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;账户中心</a></li>
                        <li><a href="index.ejs"><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;我的收藏</a></li>
                    </ul>
                </li>
                <li><a href="#bbs"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;退出</a></li>
            </ul>
        </div>
        <!--导航-->

    </div>
</nav>
<!--导航-->

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="/admin/admin" class="list-group-item">内容管理</a>
                <a href="/admin/addContent" class="list-group-item active">添加内容</a>
            </div>
        </div>
        <div class="col-md-10">
            <div class="page-header">
                <h1>内容管理</h1>
            </div>
            <ul class="nav nav-tabs">
                <li>
                    <a href="/admin/admin">内容管理</a>
                </li>
                <li class="active">
                    <a href="/admin/addContent">添加内容</a>
                </li>
            </ul>
            <form action="/admin/add/images" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">上传图片</label>
                    <input type="file" id="exampleInputFile" name="f1">
                    <% if(!session.img && session.img==null){
                    %>
                        <span>还未上传文件</span>
                    <%
                            }else{
                    %>
                   您上传的图片: <img src="<%=session.img.imgName%>" alt="" class="img-circle">
                    <%
                        }
                    %>
                </div>
                <img src="" alt="">
                <button type="submit" class="btn btn-primary">上传</button>
            </form>
            <form action="/admin/add" method="post" class="mar_t15" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">分类</label>
                    <select name="category" id="category" class="form-control">
                        <%
                                for(let i = 0;i<categorys.length;i++){
                        %>
                        <option value="<%=categorys[i]._id%>"><%=categorys[i].name%></option>
                        <%
                                }
                        %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" id="title" name="title" class="form-control" placeholder="请输入文章标题">
                    <sapn></sapn>
                </div>
                <div class="form-group">
                    <label for="description">文章简介</label>
                        <textarea id="description" name="description" class="form-control" rows="4" cols="4" placeholder="输入简介"></textarea>
                </div>
                <div class="form-group">
                    <label for="content">文章内容</label>
                    <textarea id="content" name="content" class="form-control" rows="15" cols="10" placeholder="请输入文章正文部分"></textarea>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox">全局置顶
                    </label>
                    <button type="submit" class="btn btn-default pull-right">发布文章</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Copyright&nbsp;©&nbsp;jasonlwy
                </p>
            </div>
        </div>
    </div>
</footer>
<!--footer-->
<script src="../js/jquery-1.12.4.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>