<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>随心笔记</title>
    <meta name="description" content="Ghost 是基于 Node.js 构建的开源博客平台。Ghost 具有易用的书写界面和体验，博客内容默认采用 Markdown 语法书写。Ghost 的目标是取代臃肿的 Wordpress。" />
    <meta name="keywords" content="Ghost,blog,Ghost中国,Ghost博客,Ghost中文,Ghost中文文档">

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css">
    <link href="//cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/demo.css" />

    <link rel="canonical" href="http://www.ghostchina.com/" />
    <meta name="referrer" content="origin" />
    <link rel="next" href="http://www.ghostchina.com/page/2/" />
    <script type="text/javascript" src="/shared/ghost-url.min.js?v=a8de6833b5"></script>
    <script type="text/javascript">
        ghost.init({
            clientId: "ghost-frontend",
            clientSecret: "721352203d6a"
        });
    </script>
    <meta name="generator" content="Ghost 0.7" />
    <link rel="alternate" type="application/rss+xml" title="Ghost 开源博客平台" href="http://www.ghostchina.com/rss/" />
</head>
<body class="home-template">

<!-- start header -->
<header class="main-header"  style="background-image: url(http://static.ghostchina.com/image/6/d1/fcb3879e14429d75833a461572e64.jpg)">
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <!-- start logo -->
            <a class="branding" href="http://www.ghostchina.com" title="Ghost 开源博客平台"><img src="http://static.ghostchina.com/image/b/46/4f5566c1f7bc28b3f7ac1fada8abe.png" alt="Ghost 开源博客平台"></a>
            <!-- end logo -->
            <h2 class="text-hide">Ghost 是一个简洁、强大的写作平台。你只须专注于用文字表达你的想法就好，其余的事情就让 Ghost 来帮你处理吧。</h2>

            <img src="http://static.ghostchina.com/image/6/d1/fcb3879e14429d75833a461572e64.jpg" alt="Ghost 博客系统" class="hide">
        </div>
    </div>
</div>
</header>
<!-- end header -->

<!-- start navigation -->
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                        </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li class="nav-current" role="presentation"><a href="/">首页</a></li>
                        <li  role="presentation"><a href="http://wenda.ghostchina.com">论坛</a></li>
                        <li  role="presentation"><a href="/ghost-cheat-sheet/">快捷手册</a></li>
                        <li  role="presentation"><a href="http://docs.ghostchina.com/zh/">中文文档</a></li>
                        <li  role="presentation"><a href="/download/">下载</a></li>
                        <li  role="presentation"><a href="/about/">关于</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end navigation -->


<!-- start site's main content area -->
<section class="content-wrap">
    <div class="container">
        <div class="row">

            <main class="col-md-8 main-content">

                <article id=109 class="post tag-android tag-ke-hu-duan">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/android-app-for-ghost/">Android 版 Ghost 客户端来了！</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2017年11月8日星期三下午4点44分" title="2017年11月8日星期三下午4点44分">2017年11月8日</time>
                        </div>
                    </div>
                    <div class="featured-media">
                        <a href="/android-app-for-ghost/"><img src="http://static.ghostchina.com/image/c/06/765c76cb1ca259dd8fe8002459bbc.jpg" alt="Android 版 Ghost 客户端来了！"></a>
                    </div>
                    <div class="post-content">
                        <p></p>
                        <%
                                for(let i=0;i<contents.length;i++){


                    %>
                        <p>
                            <%=contents[i].title%>

                        </p>

                        <%
                        }
                        %>

                    </div>
                    <div class="post-permalink">
                        <a href="/android-app-for-ghost/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/android/">Android</a>, <a href="/tag/ke-hu-duan/">客户端</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=108 class="post">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/custom-excerpts/">自定义文章摘要（Excerpt）</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2017年8月9日星期三下午4点57分" title="2017年8月9日星期三下午4点57分">2017年8月9日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>随着 Ghost 1.0 和 Hemingway Mode 的发布，今天我们又发布了“自定义文章摘要”功能。 默认情况下，Ghost 会截取文章正文开头部分的文字（一般是55个字）作为文章摘要并显示在文章归档列表中。摘要有助于读者快速了解文章所要表达的内容。但是，如果你希望自己定</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/custom-excerpts/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>

                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=107 class="post tag-zhuti tag-zhu-shou-han-shu">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/primary-tags/">首要“标签”</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2017年8月3日星期四上午10点09分" title="2017年8月3日星期四上午10点09分">2017年8月3日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>在 Ghost 中，每一篇博文都可以有多个标签（tag），并且这些标签的排列顺序也被 Ghost 完整保存。第一个标签被认为是最重要的，因此被特殊对待。 现在，你可以在后台通过拖拽标签的位置来设置“首要标签”，并且能够通过 {{tags.[0]}} 获取到第一个标签。由于这种语法</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/primary-tags/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="/tag/zhuti/">主题</a>, <a href="/tag/zhu-shou-han-shu/">助手函数</a>
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=106 class="post">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-1-0-released/">Ghost 1.0 版本正式发布</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2017年7月29日星期六凌晨1点45分" title="2017年7月29日星期六凌晨1点45分">2017年7月29日</time>
                        </div>
                    </div>
                    <div class="featured-media">
                        <a href="/ghost-1-0-released/"><img src="http://static.ghostchina.com/image/4/c2/804903aef2bdfcd0e4eb95b27ca77.jpg" alt="Ghost 1.0 版本正式发布"></a>
                    </div>
                    <div class="post-content">
                        <p>大约四年前，我们在 Kickstarter 上推出了一个还处在原型阶段的 Ghost，这个小小的原型寄托了我们的一个想法，那就是创建 Web 上的下一代伟大的开源博客平台。 在初期阶段，我们真的只是专注于让所有功能能够运转起来。Ghost 是 Node.js 平台上为数不多的一个</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-1-0-released/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>

                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=105 class="post">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-1-0-rc1/">Ghost 1.0 RC1 发布，可用于生产环境</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2017年7月13日星期四中午12点12分" title="2017年7月13日星期四中午12点12分">2017年7月13日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>今天，我们正式发布了首个 Ghost 1.0 RC 版本，希望这是到达最终版本的最后一步。你可以通过 Ghost-CLI 安装此最新版本，并且可以使用到 生产环境中！！！如果你需要从 LTS (0.11) 版本迁移到 1.0 版本，请阅读迁移指南。 同时，下面列出从上一个 bet</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-1-0-rc1/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>

                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=104 class="post">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-1-0-0-beta-2-released/">Ghost 1.0.0-beta.2 发布啦！</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2017年6月24日星期六上午9点33分" title="2017年6月24日星期六上午9点33分">2017年6月24日</time>
                        </div>
                    </div>
                    <div class="featured-media">
                        <a href="/ghost-1-0-0-beta-2-released/"><img src="http://static.ghostchina.com/image/0/94/6ac3f0cbeb3ab6e39fa40d37f9233.png" alt="Ghost 1.0.0-beta.2 发布啦！"></a>
                    </div>
                    <div class="post-content">
                        <p>紧跟前两周发布的 Ghost 1.0.0-beta.1 的步伐，今天发布了  Ghost 1.0.0-beta.2 ，我们距离最终版本又迈了一大步。我们非常期盼这是最后一个 beta 版本，希望下一次发布的就是最终候选版。 在第一个 beta 版本发布后的日子里，我们发现并修复了</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-1-0-0-beta-2-released/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>

                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=100 class="post">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/1-0-0-beta-is-out/">1.0.0 Beta 版本发布啦！！！</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2017年6月9日星期五晚上9点49分" title="2017年6月9日星期五晚上9点49分">2017年6月9日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>经过 21 个 alpha 版本的迭代，我们终于迎来了第一个 1.0 beta 版本！ 请查看先前的博文以了解 1.0 和 LTS 版本之间的差异。 对于 LTS 版本的官方支持将于 2017 年 8 月 31 号结束。 如何安装 beta 版本？ 官方推荐通过 Ghost-CL</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/1-0-0-beta-is-out/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>

                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=98 class="post">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/moving-to-node-js-v4-lts/">Node.js v4 LTS 成为 Ghost 推荐版本</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2016年7月26日星期二上午9点54分" title="2016年7月26日星期二上午9点54分">2016年7月26日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>从这周起，我们将 Ghost 推荐 Node.js 版本升级为 Node.js v4 LTS。 我们这样做其实已经落后于计划了。然而，经过大量测试之后，我们确信 Ghost 可以在 Node.js v4 平台上流畅的运行并且内存消耗比原来也减少了。目前，Ghost(Pro) 上托</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/moving-to-node-js-v4-lts/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>

                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=97 class="post">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/ghost-zhuo-mian-ban-app-geng-xin-neng-gou-tong-shi-guan-li-duo-ge-ghost-bo-ke/">Ghost 桌面版 APP 正式发布，能同时管理多个 Ghost 博客</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2016年4月28日星期四上午10点14分" title="2016年4月28日星期四上午10点14分">2016年4月28日</time>
                        </div>
                    </div>
                    <div class="featured-media">
                        <a href="/ghost-zhuo-mian-ban-app-geng-xin-neng-gou-tong-shi-guan-li-duo-ge-ghost-bo-ke/"><img src="http://static.ghostchina.com/image/4/45/e447fa21190690b28f1957d5937f4.png" alt="Ghost 桌面版 APP 正式发布，能同时管理多个 Ghost 博客"></a>
                    </div>
                    <div class="post-content">
                        <p>虽然通过浏览器管理 Ghost 博客虽然很方便，但是在多个 tab 之间切换有时候也会很麻烦，嗯，如果能有一个独立的 app 应该使用起来会更爽一些！ 今天的主角来了，Ghost 桌面版 APP -- Ghost Desktop！ 目前，Ghost Desktop 还处于早期阶段</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/ghost-zhuo-mian-ban-app-geng-xin-neng-gou-tong-shi-guan-li-duo-ge-ghost-bo-ke/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>

                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                <article id=96 class="post">

                    <div class="post-head">
                        <h1 class="post-title"><a href="/install-nodejs-of-latest-version-in-ubuntu-and-debian/">为 Ubuntu 和 Debian 安装最新版本的 Node.js</a></h1>
                        <div class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> &bull;
                            <time class="post-date" datetime="2016年3月23日星期三凌晨12点08分" title="2016年3月23日星期三凌晨12点08分">2016年3月23日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>运行 Ghost 必须要安装 Node.js。但是 Ubuntu 或 Debian 的软件仓库中的 Node.js 更新较慢，甚至只能等到新版本发布才能有最新的 Node.js 用。下面我们说一下从 NodeSource 提供的仓库中安装最新版本的 Node.js。 支持的操作系</p>
                    </div>
                    <div class="post-permalink">
                        <a href="/install-nodejs-of-latest-version-in-ubuntu-and-debian/" class="btn btn-default">阅读全文</a>
                    </div>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>

                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>


                <nav class="pagination" role="navigation">
                    <span class="page-number">第 1 页 &frasl; 共 9 页</span>
                    <a class="older-posts" href="/page/2/"><i class="fa fa-angle-right"></i></a>
                </nav>


            </main>

            <aside class="col-md-4 sidebar">
                <!-- start widget -->
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title">社区</h4>
                    <div class="content community">
                        <p>QQ群：277327792</p>
                        <p><a href="http://wenda.ghostchina.com/" title="Ghost中文网问答社区" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '问答社区'])"><i class="fa fa-comments"></i> 问答社区</a></p>
                        <p><a href="http://weibo.com/ghostchinacom" title="Ghost中文网官方微博" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '官方微博'])"><i class="fa fa-weibo"></i> 官方微博</a></p>
                    </div>
                </div>
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <div class="widget">
                    <h4 class="title">下载 Ghost</h4>
                    <div class="content download">
                        <a href="/download/" class="btn btn-default btn-block" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载Ghost'])">Ghost 中文版（0.6.0）</a>
                    </div>
                </div>
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="content tag-cloud">
                        <a href="/tag/ke-hu-duan/">客户端</a>
                        <a href="/tag/android/">Android</a>
                        <a href="/tag/jquery/">jQuery</a>
                        <a href="/tag/ghost-0-7-ban-ben/">Ghost 0.7 版本</a>
                        <a href="/tag/opensource/">开源</a>
                        <a href="/tag/zhu-shou-han-shu/">助手函数</a>
                        <a href="/tag/tag-cloud/">标签云</a>
                        <a href="/tag/navigation/">导航</a>
                        <a href="/tag/customize-page/">自定义页面</a>
                        <a href="/tag/static-page/">静态页面</a>
                        <a href="/tag/roon-io/">Roon.io</a>
                        <a href="/tag/configuration/">配置文件</a>
                        <a href="/tag/upyun/">又拍云存储</a>
                        <a href="/tag/upload/">上传</a>
                        <a href="/tag/handlebars/">Handlebars</a>
                        <a href="/tag/email/">邮件</a>
                        <a href="/tag/shortcut/">快捷键</a>
                        <a href="/tag/yong-hu-zhi-nan/">用户指南</a>


                        <a href="/tag-cloud/">...</a>
                    </div>
                </div>
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <!-- end widget -->

                <!-- start widget -->
                <!-- end widget -->                </aside>

        </div>
    </div>
</section>

<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">最新文章</h4>
                    <div class="content recent-post">
                        <div class="recent-single-post">
                            <a href="/android-app-for-ghost/" class="post-title">Android 版 Ghost 客户端来了！</a>
                            <div class="date">2017年11月8日</div>
                        </div>
                        <div class="recent-single-post">
                            <a href="/custom-excerpts/" class="post-title">自定义文章摘要（Excerpt）</a>
                            <div class="date">2017年8月9日</div>
                        </div>
                        <div class="recent-single-post">
                            <a href="/primary-tags/" class="post-title">首要“标签”</a>
                            <div class="date">2017年8月3日</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="content tag-cloud">
                        <a href="/tag/about-ghost/">Ghost</a>
                        <a href="/tag/release/">新版本发布</a>
                        <a href="/tag/javascript/">JavaScript</a>
                        <a href="/tag/promise/">Promise</a>
                        <a href="/tag/zhuti/">主题</a>
                        <a href="/tag/nodejs/">Node.js</a>
                        <a href="/tag/mysql/">MySQL</a>
                        <a href="/tag/nginx/">Nginx</a>
                        <a href="/tag/aliyun-ecs/">阿里云服务器</a>
                        <a href="/tag/ubuntu/">Ubuntu</a>
                        <a href="/tag/ghost-in-depth/">深度玩转 Ghost</a>
                        <a href="/tag/theme/">Theme</a>
                        <a href="/tag/zhu-shou-han-shu/">助手函数</a>
                        <a href="/tag/markdown/">Markdown</a>
                        <a href="/tag/proxy/">反向代理</a>

                        <a href="/tag-cloud/">...</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">合作伙伴</h4>
                    <div class="content tag-cloud friend-links">
                        <a href="http://www.bootcss.com" title="Bootstrap中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'bootcsscom'])" target="_blank">Bootstrap中文网</a>
                        <a href="http://www.bootcdn.cn" title="开放CDN服务" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'bootcdncn'])" target="_blank">开放CDN服务</a>
                        <a href="http://www.gruntjs.net" title="Grunt中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'gruntjsnet'])" target="_blank">Grunt中文网</a>
                        <a href="http://www.gulpjs.com.cn/" title="Gulp中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'gulpjscomcn'])" target="_blank">Gulp中文网</a>
                        <hr>
                        <a href="http://lodashjs.com/" title="Lodash中文文档" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'lodashjscom'])" target="_blank">Lodash中文文档</a>
                        <a href="http://www.jquery123.com/" title="jQuery中文文档" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'jquery123com'])" target="_blank">jQuery中文文档</a>
                        <hr>
                        <a href="http://www.aliyun.com/" title="阿里云" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'aliyun'])" target="_blank">阿里云</a>
                        <hr>
                        <a href="https://www.upyun.com/" title="又拍云" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'upyun'])" target="_blank">又拍云</a>
                        <a href="http://www.qiniu.com/" title="七牛云存储" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'qiniu'])" target="_blank">七牛云存储</a>
                    </div>
                </div></div>
        </div>
    </div>
</footer>

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; <a href="http://www.ghostchina.com/">Ghost中文网</a></span> |
                <span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></span> |
                <span>京公网安备11010802014853</span>
            </div>
        </div>
    </div>
</div>

<a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/fitvids/1.1.0/jquery.fitvids.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/8.5/highlight.min.js"></script>
<script src="//cdn.bootcss.com/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
<script src="js/demo.js"></script>
<script>
    $(function(){
        $('.post-content img').each(function(item){
            var src = $(this).attr('src');

            $(this).wrap('<a href="' + src + '" class="mfp-zoom" style="display:block;"></a>');
        });

        /*$('.post-content').magnificPopup({
          delegate: 'a',
          type: 'image'
        });*/
    });
</script>

<script>
    window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>

<script>
    $(function(){
        var version = '0.7.4';
        var $download =  $('.download > a').first();
        var html = $download.html().replace(/\d\.\d\.\d/, version);

        $download.html(html);
    });
</script>
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F6338835ad35c6d950a554fdedb598e48' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>
