<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>node-content-sys</title>
    <meta name="keywords" content="node-content-sys">
    <meta name="description" content="node-content-sys-and-mongodb">
    <link rel="shortcut icon" href="images/bitbug_favicon.ico.">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="middle-box text-center animated fadeInDown">
    <h1>NONE</h1>
    <h3 class="font-bold">查询无此资源！！！</h3>

    <div class="error-desc">
        <br/><a href="/index" class="btn btn-primary m-t">首页</a>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>

</html>
